/******* FONT PROPERTIES *******/
/*
Size: pixels (px), points (pt), em, rem

    points are a little bigger than pixels. Microsoft words uses points

    em is a relevant size, relevant to parent tag: 
        1em -> 100% the parent size
        2em -> 200% the parent size, 2x the parent
    
    rem is relevant to the root

Fonts: fornts.google.com -> create custom fonts, add the link in a link target.

*/

h1{
    font-size: 16px;
    font-size: 16pt;
    font-size: 2em;
    font-size: 3rem;
    font-size: large;

    font-weight: normal;
    font-weight: bold;
    font-weight: lighter 50;

    font-family: Arial, sans-serif; /*If the user dont have Arial as font they will see a similar font without serifs*/
    font-family: "Times New Roman", serif;

    text-align: center; 
    text-align: left;
    
}